apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
      - name: celery-worker
        image: scholagro:latest
        command: ['celery', '-A', 'celery_worker.celery', 'worker', '--loglevel=info']
        env:
        - name: REDIS_URL
          value: redis://redis:6379/0
